@page
@model WebApplication2.Pages.Index2Model
@{
}
<h1>Countries</h1>

<ul class = "ul-style">
    @foreach (var country in Model.country)
    {
        <li class = "li-style">@country.Name - @country.Population  - @country.Language</li>
    }
</ul>
<style>
	.ul-style {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.List{
		margin:10px;
	}
	.li-style {
		display: block;
		padding: 10px; 
		margin:0px 10px; 
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		transition: all 0.3s ease;
	} 
</style>